body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #2f281e; //коричневый темный
    background: #fff;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.container {
    width: 1154px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 600px;
    }
    @media (max-width: 600px) {
        max-width: 460px;
    }
    @media (max-width: 480px) {
        max-width: 380px;
    }
    @media (max-width: 380px) {
        max-width: 300px;
    }
}
.page-section {
    margin-bottom: 100px; 
    @media (max-width: 992px) {
        margin-bottom: 50px;
    }
}
//====HEADER==============
.header {
     &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0 24px 0;
        margin-bottom: 50px;
        position: relative;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
        }
    }
    &__items {
        order: 2;
        @media (max-width: 992px) {
            margin-top: 40px;
            order: 1;
        }
    }
    &__item {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid #bcd0e5;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 11px 24px;
        margin-right: 14px;
        & + .header__item {
            background: #ff9900;
            border-radius: 4px;
            border: 1px solid#FF9900;
            color: #fff;
        }
    }
}
//====BURGER==============
.header__burger {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
    z-index: 5;
    @media (max-width: 992px) {
        display: block;
    }
    span {
        width: 36px;
        border-top: 2px solid #ff9900;
        position: absolute;
        top: 29px;
        left: 12px;
    }
    &::before {
        content: "";
        width: 36px;
        border-top: 2px solid #ff9900;
        position: absolute;
        top: 17px;
        left: 12px;
    }
    &::after {
        content: "";
        width: 36px;
        border-top: 2px solid #ff9900;
        position: absolute;
        bottom: 17px;
        left: 12px;
    }
}
//====MENU================
.menu {
    order: 1;
    margin-left: auto;
    @media (max-width: 992px) {
        text-align: end;
    }
    &__list {
        display: flex;
        font-size: 14px;
        line-height: 2;
        margin-right: 30px;
        @media (max-width: 992px) {
            display: block;
            position: absolute;
            left: 0; 
            right: 0; 
            background-image: url("../image/header/burger-bg-01.png");
            background-position: top right;
            background-repeat: no-repeat;
            margin-right: 0;
            font-size: 18px;
            height: 100vh;
            padding-top: 20px;
            transform: translateX(300%);
            transition: all 0.8s; 
            &.menu__list-active {
              
                transform: translateX(0%);
            }
            a {
                display: block;
                padding: 10px;
            }
        }
    }
    &__list-item {
        & + .menu__list-item {
            margin-left: 20px;
            @media (max-width: 992px) {
                margin: 0;
            }
        }
    }
}

//=====SECTION===TOP=======
.top {
    
    background-image: url("../image/content/top-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 97%;
    @media (max-width: 992px) {
        background: none;
    }
    &__inner {
    }
    &__body {
        max-width: 480px;
        padding: 80px 0;
        @media (max-width: 1280px) {
            padding: 40px 0;
        }
        @media (max-width: 480px) {
            padding: 20px 0 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 1.23;
        margin-bottom: 30px;
        @media (max-width: 600px) {
            font-size: 36px;
        }
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 1.6;
        color: #544837;
        margin-bottom: 57px;
        padding-right: 22px;
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    &__link {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        background: #ff9900;
        border-radius: 4px;
        border: 1px solid #ff9900;
        padding: 15px 41px 14px;
        & + .top__link {
            font-weight: 600;
            color: #ff9900;
            background: transparent;
            border: none;
            text-decoration: underline;
            @media (max-width: 480px) {
                padding-left: 0;
            }
            &::before {
                content: "";
                width: 20px;
                height: 20px;
                margin-right: 10px;
                padding: 0 10px;
                vertical-align: middle;
                background-image: url("../image/icons/triangle.svg");
                background-repeat: no-repeat;
                background-size: initial;
            }
        }
    }
}
//======SECTION======TOOLS=====
.tools {
    background-image: url("../image/content/tools-Bg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
        max-width: 540px;
        text-align: center;
        margin-bottom: 54px;
        @media (max-width: 600px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
        padding: 0 13px;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }
    &__items {
        max-width: 240px;
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
        & + .tools__items {
            margin-left: 45px;
            @media (max-width: 992px) {
                margin-left: 0;
            }
        }
    }
    &__item-icon {
        margin-bottom: 30px;
        @media (max-width: 992px) {
            margin-bottom: 10px;
        }
    }
    &__item-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 13px;
    }
    &__item-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #544837;
    }
    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        display: inline-block;
        background: #ff9900;
        border-radius: 4px;
        padding: 15px 33px 14px;
        margin-bottom: 90px;
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
}
//=====SECTION=====DESIGNER====
.designer {
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
    &__content {
        padding: 26px 0 16px;
        width: 486px;
        @media (max-width: 1280px) {
            padding-right: 15px;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-right: 0;
        }
        @media (max-width: 767px) {
            padding-top: 16px;
        }
    }
    &__img {
        @media (max-width: 992px) {
            width: 60%;
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
    }
}
//повторяющийся блок контента
.content {
    &__top {
        margin-bottom: 27px;
    }
    &__top-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #544837;
        margin-bottom: 3px;
        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
    &__top-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 22px;
        @media (max-width: 600px) {
            font-size: 28px;
            margin-bottom: 12px;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.63;
        margin-bottom: 12px;
        @media (max-width: 600px) {
            margin-bottom: 8px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #544837;
        margin-bottom: 25px;
        @media (max-width: 600px) {
            font-size: 14px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
//=====SECTION====MANAGERS====
.managers {
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    &__content {
        padding: 47px 0;
        width: 486px;
        @media (max-width: 1280px) {
            padding-left: 15px;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-left: 0;
        }
        @media (max-width: 767px) {
            padding: 16px 0;
        }
    }
    &__img {
        @media (max-width: 992px) {
            width: 60%;
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #544837;
        margin-bottom: 30px;
        padding-left: 65px;
        background-image: url("../image/content/managers-check.svg");
        background-repeat: no-repeat;
        background-size: initial;
        background-position: 0 50%;
        @media (max-width: 992px) {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        @media (max-width: 600px) {
            font-size: 14px;
            margin: 0;
            background-position: 0 25%;
            padding-left: 50px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
//=====SECTION====MARKETERS===
.marketers {
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }
    &__content {
        padding-top: 39px;
        width: 486px;
        @media (max-width: 1280px) {
            padding-right: 15px;
        }
        @media (max-width: 992px) {
            width: 100%;
            padding-right: 0;
        }
        @media (max-width: 767px) {
            padding: 16px 0;
        }
    }
    &__img {
        @media (max-width: 992px) {
            width: 60%;
            margin: 0 auto;
        }
        img {
            display: block;
        }
    }
}
//===SECTION=====HERO==========
.hero {
    background-image: url("../image/content/hero-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
    }
    &__body {
        text-align: center;
        max-width: 542px;
        padding: 230px 0 379px;
        @media (max-width: 600px) {
            padding: 30px 0;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 22px;
        @media (max-width: 600px) {
            font-size: 28px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #567592;
        margin-bottom: 45px;
        @media (max-width: 600px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    &__link {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
        background: #ff9900;
        border-radius: 4px;
        padding: 15px 31px 14px 30px;
    }
    &__avator {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 600px) {
            display: none;
        }
        &::before {
            content: "";
            width: 17px;
            height: 17px;
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: 43px;
            right: 36px;
            z-index: 8;
        }
        &::after {
            content: "";
            width: 9px;
            height: 9px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 62px;
            right: 22px;
            z-index: 8;
        }
    }
    &__avator-img {
        width: 98px;
        height: 98px;
        margin-right: -55px;
        margin-top: -10px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }
    &__avator-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #2f281e;
        background: #ffffff;
        box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
        padding: 14px 21px;
        border-radius: 26.5px;
        z-index: 5;
    }
    &__avator-text-01 {
        margin-left: 59px;
    }
    &__avator-01 {
        top: 180px;
        left: 15px;
        align-items: flex-start;
        @media (max-width: 992px) {
            top: 96px;
            left: 96px;
        }
        @media (max-width: 767px) {
            left: 15px;
        }
        &::before {
            content: "";
            width: 17px;
            height: 17px;
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: 43px;
            left: 90px;
            z-index: 8;
        }
        &::after {
            content: "";
            width: 9px;
            height: 9px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 62px;
            left: 76px;
            z-index: 8;
        }
    }
    &__avator-02 {
        top: 116px;
        right: 146px;
        @media (max-width: 992px) {
            top: 30px;
            right: 158px;
        }
        @media (max-width: 767px) {
            right: 70px;
        }
    }
    &__avator-03 {
        bottom: 233px;
        left: 20px;
        @media (max-width: 992px) {
            bottom: 222px;
            left: 91px;
        }
        @media (max-width: 767px) {
            left: 15px;
        }
    }
    &__avator-04 {
        bottom: 135px;
        left: 400px;
        @media (max-width: 992px) {
            bottom: 69px;
            left: 145px;
        }
        @media (max-width: 767px) {
        }
    }
    &__avator-05 {
        bottom: 256px;
        right: 70px;
        @media (max-width: 992px) {
            bottom: 222px;
            right: 136px;
        }
        @media (max-width: 767px) {
            right: 70px;
        }
    }
}
//====SECTION===STRATEGY====
.strategy {
    &__inner {
    }
    &__title {
        font-weight: bold;
        font-size: 34px;
        line-height: 1.5;
        margin-bottom: 8px;
        @media (max-width: 600px) {
            font-size: 28px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        color: #544837;
        margin-bottom: 55px;
        @media (max-width: 600px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}
//=====SLIDER================
.slider {
    margin: 0 -20px;

    &__item {
        padding: 0 20px 45px;
        @media (max-width: 600px) {
            padding-bottom: 20px;
        }
    }
    &__item-img {
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: 45px;
        @media (max-width: 1280px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
        img {
            max-width: 100%;
        }
    }
    &__item-text {
        font-size: 16px;
        line-height: 1.75;
        color: #544837;
        margin: 0 0 12px;
        @media (max-width: 600px) {
            font-size: 14px;
        }
        span {
            font-weight: bold;
        }
    }
    &__item-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.42;
        max-width: 294px;
        transition: all 0.3s;
        @media (max-width: 767px) {
            font-size: 18px;
        }
        &:hover {
            color: #ff9900;
        }
    }
}
//классы слайдера для дотсов
.slick-dots {
    text-align: center;
    button {
        font-size: 0; 
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #f2f2f2;
    }
    li {
        display: inline-block;
        margin: 0 5px;
    }
    .slick-active button {
        background: #ff9900;
    }
}

//====FOOTER==============
.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(188, 208, 229, 0.496913);
        padding: 100px 0;
        @media (max-width: 992px) {
            padding: 50px 0 0;
            flex-wrap: wrap;
        }
        @media (max-width: 480px){
            padding-top: 30px;
        }
    }

    &__img {
    }
    &__menu {
        font-weight: 400;
        font-size: 16px;
        line-height: 2.19;
        color: #544837;
        @media (max-width: 992px) {
            padding-top: 25px;
           
        }
        @media (max-width: 767px){
            line-height: 1.5;
            width: 50%;
        }
    }
    &__menu-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #2f281e;
        margin-bottom: 35px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        @media (max-width: 600px) {
            font-size: 18px;
            line-height: 1;
        }
    }

    &__menu-item {
    }
    &__menu-items {
        display: flex;
        flex-direction: column;
        & + .footer__menu-items {
            margin-left: 177px;
        }
    }
    &__menu-link {
        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
    &__form {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 992px) {
            padding-top: 20px;
        }
    }
    &__form-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #2f281e;
        margin-bottom: 34px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        @media (max-width: 600px) {
            font-size: 18px;
        }
        @media (max-width: 380px){
            margin-bottom: 10px;
        }
    }
    &__input {
        width: 100%;
        background: #ffffff;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
        padding: 10px 15px;
        margin-bottom: 21px;
        @media (max-width: 380px){
            margin-bottom: 10px;
        }
        &::placeholder {
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #bcd0e5;
        }
    }
    &__btn {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        padding: 8px 15px 7px;
        background: #ff9900;
        border-radius: 4px;
    }
}
.logo {
    @media (max-width: 992px){
        width: 100%;
    }

    
}
