body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2f281e;
  background: #fff;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 1154px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 460px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 380px;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 300px;
  }
}

.page-section {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .page-section {
    margin-bottom: 50px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0 24px 0;
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 992px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
}

.header__items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 992px) {
  .header__items {
    margin-top: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #bcd0e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 24px;
  margin-right: 14px;
}

.header__item + .header__item {
  background: #ff9900;
  border-radius: 4px;
  border: 1px solid #FF9900;
  color: #fff;
}

.header__burger {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 6px;
  right: 0;
  cursor: pointer;
  z-index: 5;
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}

.header__burger span {
  width: 36px;
  border-top: 2px solid #ff9900;
  position: absolute;
  top: 29px;
  left: 12px;
}

.header__burger::before {
  content: "";
  width: 36px;
  border-top: 2px solid #ff9900;
  position: absolute;
  top: 17px;
  left: 12px;
}

.header__burger::after {
  content: "";
  width: 36px;
  border-top: 2px solid #ff9900;
  position: absolute;
  bottom: 17px;
  left: 12px;
}

.menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: auto;
}

@media (max-width: 992px) {
  .menu {
    text-align: end;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 2;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("../image/header/burger-bg-01.png");
    background-position: top right;
    background-repeat: no-repeat;
    margin-right: 0;
    font-size: 18px;
    height: 100vh;
    padding-top: 20px;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .menu__list.menu__list-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .menu__list a {
    display: block;
    padding: 10px;
  }
}

.menu__list-item + .menu__list-item {
  margin-left: 20px;
}

@media (max-width: 992px) {
  .menu__list-item + .menu__list-item {
    margin: 0;
  }
}

.top {
  background-image: url("../image/content/top-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 97%;
}

@media (max-width: 992px) {
  .top {
    background: none;
  }
}

.top__body {
  max-width: 480px;
  padding: 80px 0;
}

@media (max-width: 1280px) {
  .top__body {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .top__body {
    padding: 20px 0 0;
  }
}

.top__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.23;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .top__title {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .top__title {
    margin-bottom: 20px;
  }
}

.top__text {
  font-size: 18px;
  line-height: 1.6;
  color: #544837;
  margin-bottom: 57px;
  padding-right: 22px;
}

@media (max-width: 480px) {
  .top__text {
    margin-bottom: 20px;
  }
}

.top__link {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #ff9900;
  border-radius: 4px;
  border: 1px solid #ff9900;
  padding: 15px 41px 14px;
}

.top__link + .top__link {
  font-weight: 600;
  color: #ff9900;
  background: transparent;
  border: none;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .top__link + .top__link {
    padding-left: 0;
  }
}

.top__link + .top__link::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0 10px;
  vertical-align: middle;
  background-image: url("../image/icons/triangle.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.tools {
  background-image: url("../image/content/tools-Bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.tools__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  max-width: 540px;
  text-align: center;
  margin-bottom: 54px;
}

@media (max-width: 600px) {
  .tools__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.tools__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
  padding: 0 13px;
}

@media (max-width: 992px) {
  .tools__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.tools__items {
  max-width: 240px;
}

@media (max-width: 992px) {
  .tools__items {
    margin-bottom: 30px;
  }
}

.tools__items + .tools__items {
  margin-left: 45px;
}

@media (max-width: 992px) {
  .tools__items + .tools__items {
    margin-left: 0;
  }
}

.tools__item-icon {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .tools__item-icon {
    margin-bottom: 10px;
  }
}

.tools__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 13px;
}

.tools__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #544837;
}

.tools__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  display: inline-block;
  background: #ff9900;
  border-radius: 4px;
  padding: 15px 33px 14px;
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  .tools__link {
    margin-bottom: 40px;
  }
}

.designer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .designer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.designer__content {
  padding: 26px 0 16px;
  width: 486px;
}

@media (max-width: 1280px) {
  .designer__content {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .designer__content {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .designer__content {
    padding-top: 16px;
  }
}

@media (max-width: 992px) {
  .designer__img {
    width: 60%;
    margin: 0 auto;
  }
}

.designer__img img {
  max-width: 100%;
}

.content__top {
  margin-bottom: 27px;
}

.content__top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #544837;
  margin-bottom: 3px;
}

@media (max-width: 600px) {
  .content__top-text {
    font-size: 14px;
  }
}

.content__top-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 22px;
}

@media (max-width: 600px) {
  .content__top-title {
    font-size: 28px;
    margin-bottom: 12px;
  }
}

.content__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .content__subtitle {
    margin-bottom: 8px;
  }
}

.content__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #544837;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  .content__text {
    font-size: 14px;
  }
}

.content__text:last-child {
  margin-bottom: 0;
}

.managers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .managers__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.managers__content {
  padding: 47px 0;
  width: 486px;
}

@media (max-width: 1280px) {
  .managers__content {
    padding-left: 15px;
  }
}

@media (max-width: 992px) {
  .managers__content {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .managers__content {
    padding: 16px 0;
  }
}

@media (max-width: 992px) {
  .managers__img {
    width: 60%;
    margin: 0 auto;
  }
}

.managers__img img {
  max-width: 100%;
}

.managers__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #544837;
  margin-bottom: 30px;
  padding-left: 65px;
  background-image: url("../image/content/managers-check.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 0 50%;
}

@media (max-width: 992px) {
  .managers__text {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .managers__text {
    font-size: 14px;
    margin: 0;
    background-position: 0 25%;
    padding-left: 50px;
  }
}

.managers__text:last-child {
  margin-bottom: 0;
}

.marketers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .marketers__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.marketers__content {
  padding-top: 39px;
  width: 486px;
}

@media (max-width: 1280px) {
  .marketers__content {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .marketers__content {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .marketers__content {
    padding: 16px 0;
  }
}

@media (max-width: 992px) {
  .marketers__img {
    width: 60%;
    margin: 0 auto;
  }
}

.marketers__img img {
  display: block;
}

.hero {
  background-image: url("../image/content/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.hero__body {
  text-align: center;
  max-width: 542px;
  padding: 230px 0 379px;
}

@media (max-width: 600px) {
  .hero__body {
    padding: 30px 0;
  }
}

.hero__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 22px;
}

@media (max-width: 600px) {
  .hero__title {
    font-size: 28px;
  }
}

.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #567592;
  margin-bottom: 45px;
}

@media (max-width: 600px) {
  .hero__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.hero__link {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #ff9900;
  border-radius: 4px;
  padding: 15px 31px 14px 30px;
}

.hero__avator {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 600px) {
  .hero__avator {
    display: none;
  }
}

.hero__avator::before {
  content: "";
  width: 17px;
  height: 17px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 43px;
  right: 36px;
  z-index: 8;
}

.hero__avator::after {
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 62px;
  right: 22px;
  z-index: 8;
}

.hero__avator-img {
  width: 98px;
  height: 98px;
  margin-right: -55px;
  margin-top: -10px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__avator-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2f281e;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  padding: 14px 21px;
  border-radius: 26.5px;
  z-index: 5;
}

.hero__avator-text-01 {
  margin-left: 59px;
}

.hero__avator-01 {
  top: 180px;
  left: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .hero__avator-01 {
    top: 96px;
    left: 96px;
  }
}

@media (max-width: 767px) {
  .hero__avator-01 {
    left: 15px;
  }
}

.hero__avator-01::before {
  content: "";
  width: 17px;
  height: 17px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 43px;
  left: 90px;
  z-index: 8;
}

.hero__avator-01::after {
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 62px;
  left: 76px;
  z-index: 8;
}

.hero__avator-02 {
  top: 116px;
  right: 146px;
}

@media (max-width: 992px) {
  .hero__avator-02 {
    top: 30px;
    right: 158px;
  }
}

@media (max-width: 767px) {
  .hero__avator-02 {
    right: 70px;
  }
}

.hero__avator-03 {
  bottom: 233px;
  left: 20px;
}

@media (max-width: 992px) {
  .hero__avator-03 {
    bottom: 222px;
    left: 91px;
  }
}

@media (max-width: 767px) {
  .hero__avator-03 {
    left: 15px;
  }
}

.hero__avator-04 {
  bottom: 135px;
  left: 400px;
}

@media (max-width: 992px) {
  .hero__avator-04 {
    bottom: 69px;
    left: 145px;
  }
}

.hero__avator-05 {
  bottom: 256px;
  right: 70px;
}

@media (max-width: 992px) {
  .hero__avator-05 {
    bottom: 222px;
    right: 136px;
  }
}

@media (max-width: 767px) {
  .hero__avator-05 {
    right: 70px;
  }
}

.strategy__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .strategy__title {
    font-size: 28px;
  }
}

.strategy__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #544837;
  margin-bottom: 55px;
}

@media (max-width: 600px) {
  .strategy__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.slider {
  margin: 0 -20px;
}

.slider__item {
  padding: 0 20px 45px;
}

@media (max-width: 600px) {
  .slider__item {
    padding-bottom: 20px;
  }
}

.slider__item-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 45px;
}

@media (max-width: 1280px) {
  .slider__item-img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .slider__item-img {
    margin-bottom: 25px;
  }
}

.slider__item-img img {
  max-width: 100%;
}

.slider__item-text {
  font-size: 16px;
  line-height: 1.75;
  color: #544837;
  margin: 0 0 12px;
}

@media (max-width: 600px) {
  .slider__item-text {
    font-size: 14px;
  }
}

.slider__item-text span {
  font-weight: bold;
}

.slider__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.42;
  max-width: 294px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .slider__item-title {
    font-size: 18px;
  }
}

.slider__item-title:hover {
  color: #ff9900;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f2f2f2;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots .slick-active button {
  background: #ff9900;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
  padding: 100px 0;
}

@media (max-width: 992px) {
  .footer__inner {
    padding: 50px 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .footer__inner {
    padding-top: 30px;
  }
}

.footer__menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #544837;
}

@media (max-width: 992px) {
  .footer__menu {
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .footer__menu {
    line-height: 1.5;
    width: 50%;
  }
}

.footer__menu-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #2f281e;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .footer__menu-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer__menu-title {
    font-size: 18px;
    line-height: 1;
  }
}

.footer__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu-items + .footer__menu-items {
  margin-left: 177px;
}

@media (max-width: 600px) {
  .footer__menu-link {
    font-size: 14px;
  }
}

.footer__form {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .footer__form {
    padding-top: 20px;
  }
}

.footer__form-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #2f281e;
  margin-bottom: 34px;
}

@media (max-width: 767px) {
  .footer__form-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer__form-text {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .footer__form-text {
    margin-bottom: 10px;
  }
}

.footer__input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 21px;
}

@media (max-width: 380px) {
  .footer__input {
    margin-bottom: 10px;
  }
}

.footer__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}

.footer__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}

.footer__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}

.footer__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}

.footer__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  padding: 8px 15px 7px;
  background: #ff9900;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .logo {
    width: 100%;
  }
}
